.form-container-open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.form-container-closed {
    display: none;
}

.form {
    display: fixed;
    position: fixed;
    justify-content: center;

    background-color: lightblue;
}