* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://images.unsplash.com/photo-1639690381680-4f2f4ba2a2ec");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

form {
    line-height: 40px;
}

legend {
    font-size: 48px;
    text-align: center;
}

.form-container-open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.form-container-closed {
    display: none;
}

.form {
    display: fixed;
    position: fixed;
    justify-content: center;
    padding: 20px;

    background-color: rgb(126, 38, 38);
    color: rgb(225, 225, 225);
    font-family: "Garamond";
    border: 4px solid rgb(225, 225, 225);
    border-radius: 10px;

    width: 50%;
    height: 30%;
}

    .form button {
        border-width: 10px;
        border-radius: 8px;
        background: linear-gradient(to bottom right, rgb(240, 240, 240), rgb(150, 150, 150));
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        font-size: 18px;
        line-height: 25px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        width: auto;

        justify-self: center;
    }

    .form fieldset {
        display: flex;
        justify-content: space-between;
        margin: 0 10%;

        font-size: 24px;
        border: none;
    }

    .form input[type="text"] {
        background-color: rgb(225, 225, 225);
        width: 500px;
        height: 30px;
    }

    .form input[type="number"] {
        background-color: rgb(225, 225, 225);
        width: 100px;
        height: 30px;
    }

    .form input[type="checkbox"] {
        width: 30px;
    }

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("https://images.unsplash.com/photo-1603058817990-2b9a9abbce86");
    background-position: center 0px;
    background-size: 2600px;

    line-height: 100px;
    padding: 0 0 40px 0;

    font-family: "Arial";
    color: rgb(225, 225, 225);

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

    height: 200px;
}

    .header h1 {
        font-size: 48px;
        letter-spacing: 2px;
        text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    }

    .header button {
        padding: 10px;
        border-width: 20px;
        border-radius: 8px;
        background: linear-gradient(to bottom right, rgb(240, 240, 240), rgb(150, 150, 150));
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        font-size: 24px;
        line-height: 25px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

        justify-self: center;
    }

    .header button:hover {
        cursor: pointer;
    }

    .header button:active {
        transition: 30ms;

        padding: 10px;
        background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(165, 165, 165));
        box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.8);

        font-size: 14px;
        line-height: 15px;
    }

.library {
    background-color: rgb(225, 225, 225);

    margin: 50px;
    min-height: 50px;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(auto-fill, 100%);
}

.library-default {
    display: block;

    text-align: center;
    line-height: 50px;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    border-left: 3px solid red;
}

.library-headers {
    display: none;
    justify-content: space-evenly;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    border-left: 3px solid red;
}

.library-entries {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 100%);

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

    .library-entries > div {
        display: flex;
        justify-content: space-evenly;

        grid-column: 1 / -1;

        border-left: 5px solid red;
        border-top: 2px solid blue;
    }

#form-esc {
    position: fixed;
    margin: -20px;
    border-radius: 4px;
}

#form-submit {
    margin: 0 50%;
}